---
apiVersion: v1
data:
  logstash.key: {{ logstash_key_data['content'] }}
  logstash.crt: {{ logstash_cert_data['content'] }}
  ca.crt: {{ logstash_ca_data['content'] }}
kind: Secret
metadata:
  name: logstash-cert
  namespace: {{ logstash_namespace }}
  labels:
    app: logstash-app
type: Opaque
---
apiVersion: v1
data:
  user: {{ logstash_elastic_user | b64encode }}
  pass: {{ logstash_elastic_pass | b64encode }}
kind: Secret
metadata:
  name: logstash-elastic-cred
  namespace: {{ logstash_namespace }}
  labels:
    app: logstash-app
type: Opaque
